In [1]:
import numpy as np
from scipy import stats
import pandas as pd

In [2]:
df = pd.read_csv('./datasets/StudentsPerformance.csv')

In [4]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [22]:
math_scores = np.array(df['math score'])
math_scores[:10]

array([72, 69, 90, 47, 76, 71, 88, 40, 64, 38])

In [16]:
np.mean(math_scores)

66.089

In [17]:
np.median(math_scores)

66.0

In [18]:
np.var(math_scores)

229.68907899999996

In [19]:
np.std(math_scores)

15.155496659628149